.container {
	margin: 0 auto;
	display: flex;
	width: 500px;
	height: 500px;
	flex-wrap: wrap;
}

.text{
	margin-top: 100px;
}

.btn {
	width: 33%;
	height: 33%;
	font-size: 40px;

}

.btn:disabled{
	color: black;
}

